<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>Create Form</title>
	<link rel="stylesheet" type="text/css" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
	<link rel="stylesheet" href="//cdn.bootcss.com/mobi.css/1.1.0/mobi.min.css"/>
</head>
<style type="text/css">
input,select{height:33px}select{background-color:#fff;border-radius:3px;width:100%}.must{color:#e03e3e}#addKey{cursor:pointer}
</style>
<body>
	<div class="flex-center">
		<div class="container">
			<h1>Create Form</h1>
			<hr>
			<form action="/form/create/" method="POST">
			{% csrf_token %}

			<div>
				<div class="flex-left units-gap">
					<div class="unit">
						<div class="unit">
							<h3>Title</h3>
						</div>
						<input type="text" name="title" placeholder="800 meters Race">
					</div>
				</div>
			</div>

			<div>
				<div class="flex-left top-gap">
					<div class="unit">
						<div class="unit">
							<h3>Author</h3>
						</div>
						<input type="text" name="author" placeholder="XiDian University PE department">
					</div>
				</div>
			</div>
			<br>
			<hr>
                <br>
                <a id="addKey">Add One</a>
				<div class="key">
					<div class="flex-left units-gap">
						<div class="unit">
							<div class="unit">
								<h3>Input Name1<span class="must">*</span></h3>
							</div>
							<input type="text" name="key1" placeholder="Such as NAME(TYPE:Text)">
						</div>
						<div class="unit">
							<div class="unit">
								<h3>Type</h3>
							</div>
							<select name="type1">
								<option value="text">Text</option>
								<option value="password">Password</option>
								<option value="number">Number</option>
								<option value="textarea">Textarea</option>
							</select>
						</div>
					</div>
				</div>

				<br>

				<div id="addDiv">
					
				</div>

				<br>

			<br>
			<hr>
			<div id="result-password">
				<div class="flex-left">
					<div class="unit">
						<h3>Password for seeing result</h3>
						<input type="password" name="password" id="password">
					</div>
				</div>
			</div>

			<div class="flex-center top-gap units-gap">
				<div class="unit">
					<input type="submit" class="btn btn-primary" value="Generate">
				</div>
				<div class="unit">
					<a href="https://github.com/ranjiayu" class="btn">How to use</a>
				</div>
			</div>

			</form>

			<hr>
			<address>
				Powered By <a href="https://github.com/ranjiayu">@ranjiayu</a>
			</address>
		</div>
	</div>
</body>
<script type="text/javascript">
	window.onload = function(){
	    var i = 2;
		var add_button = document.getElementById('addKey');
		add_button.addEventListener('click',function(){
            var html1 = '<div class="key"><div class="flex-left units-gap"><div class="unit"><div class="unit"><h3>Input Name';

            var html2 = '<span class="must">*</span></h3></div><input type="text" name="key';

            var html3 = '"></div><div class="unit"><div class="unit"><h3>Type</h3></div><select name="type';

            var html4 = '"><option value="text">Text</option><option value="number">Number</option><option value="password">Password</option><option value="textarea">Textarea</option></select></div></div></div>';
		    var html = html1 + i + html2 + i + html3 + i + html4;
		    var addDiv = document.getElementById('addDiv');
		    var add_Div_html = addDiv.innerHTML
		    addDiv.innerHTML = add_Div_html + html;
		    i = i + 1;
		});
	};
</script>
</html>