<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>Manage Form</title>
	<link rel="stylesheet" type="text/css" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
	<link rel="stylesheet" href="//cdn.bootcss.com/mobi.css/1.1.0/mobi.min.css"/>
</head>

<body>
	<div class="flex-center">
		<div class="container">
			<h1>Result For {{data.title}}</h1>
			<hr>
			{% if pass %}
			<div class="scroll-view">
				<table class="table">
					<thead>
						<tr>
							{% for k in key %}
							<th>{{k.keyLabel}}</th>
							{% endfor %}
						</tr>
					</thead>
					<tbody>
						{% for i in key_data %}
						<tr>
							{% for j in i %}
							{% if j.content %}
							<td>{{j.content}}</td>
							{% else %}
							<td>Null</td>
							{% endif %}
							{% endfor %}
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			{% else %}
			{% if msg %}
			<p style="color:red;">
				{{msg}}
			</p>
			{% endif %}
			<p>Please input password to continue:</p>
			<form action="/form/manage/{{data.id}}/" method="POST">
				{% csrf_token %}
				<input type="password" name="password">
				<input type="submit" class="btn btn-primary" value="OK">
			</form>
			{% endif %}

		</div>
	</div>
</body>
</html>